/* Color Pallete
peach : #ebd4ab
gray : #545254
pink : #bd0083
dark pink : #70015e
light pink : #c461ad */
html {
  font-size: 62.5%; }

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 1.6rem; }

.name {
  margin-left: 15rem; }

.navbar {
  padding-top: 2rem;
  box-shadow: 0 2px 4px rgba(189, 0, 131, 0.5);
}
  .navbar .nav-item {
    padding: 1rem;
    font-weight: 600; }
  .navbar .index-link {
    color: #545254;
    text-decoration: none; }
  .navbar .index-link:hover {
    color: #bd0083; }
  .navbar .active-link {
    color: #bd0083; }
  .navbar blockquote {
    font-size: 2rem;
    font-style: italic; }

  .btn-book:active{
    border: none;
  }

  .btn-submit{
    margin : 2rem auto;
  }

.carousel-item {
  height: 400px; }

.carousel-image-1 {
  background: url("../img/carousel1.jpg");
  background-size: cover; }

.carousel-image-2 {
  background: url("../img/carousel2.jpg");
  background-size: cover;
  background-position: right; }

.carousel-image-3 {
  background: url("../img/carousel3.jpg");
  background-size: cover; }

@media(max-width : 400px){
  .carousel-image-2 {
    background-position: 550px center; }

  .carousel-image-3 {
    background-position: -100px center;
}
}

.header-container {
  display: flex;
  position: relative;
  justify-content: space-around;
}

.carousel-caption1 {
  position: absolute;
  top: 10rem;
  right: 16rem; }
  .carousel-caption1 h3 {
    color: #70015e;
    font-weight: 800; }
  .carousel-caption1 p {
    font-size: 2rem;
    max-width: 500px;
    margin-top: 2rem;
    margin-bottom: 2rem; }

.btn {
  font-size: 1.6rem;
  padding: 1rem;
  font-weight: 800; }

.carousel-caption2 {
  position: absolute;
  top: 10rem;
  left: 15rem;
  color: #fff;
  text-align: center;}
  .carousel-caption2 p {
    font-size: 2rem;
    max-width: 400px;
    margin-top: 2rem;
    margin-bottom: 2rem; }
  .carousel-caption2 h3 {
    font-weight: 800; }

.carousel-caption3 {
  position: absolute;
  top: 15rem;
  right: 25rem;
  color: #fff; }
  .carousel-caption3 h3 {
    font-weight: 800; }
  .carousel-caption3 p {
    font-size: 2rem;
    max-width: 400px;
    margin-top: 2rem;
    margin-bottom: 2rem; }

  .icon-text{
    font-size: 1.8rem;
    font-weight: 600;
    color : #c461ad;
  }

#home-heading {
  position: relative;
  min-height: 500px;
  background: url("../img/homeheading.jpg");
  background-attachment: fixed;
  background-size: cover; }

.dark-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); }

.home-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 60%;
  background-color: #fff;
  padding-bottom: 4rem; }
  .home-container img {
    width: 90%;
    border-radius: 50%;
    margin-right: 3rem;
    margin-top: 3rem;
    margin-bottom: 3rem; }
  .home-container p {
    padding: 8rem 2rem 2rem 4rem; }
  .home-container a {
    text-decoration: none;
    font-weight: 800; }
  @media (max-width: 1110px) {
      .home-container p {
        padding-top: 5rem; }
      .home-container img {
        margin-top: 5rem; } }

#gallery h1 {
  font-weight: 800; }

.gallery {
  display: grid;
  grid-template-rows: repeat(3, 20rem);
  grid-template-columns: repeat(8, 15rem);
  grid-gap: 1rem; }
  .gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block; }
  .gallery__item--1 {
    grid-row: 1 / 4;
    grid-column: 1 / 3; }
  .gallery__item--2 {
    grid-row: 1 / 3;
    grid-column: 3 / 5; }
  .gallery__item--3 {
    grid-row: 3 / 4;
    grid-column: 3 / 5; }
  .gallery__item--4 {
    grid-row: 2 / 4;
    grid-column: 5 / 7; }
  .gallery__item--5 {
    grid-row: 1 / 2;
    grid-column: 5 / 7; }
  .gallery__item--6 {
    grid-row: 1 / 4;
    grid-column: 7 / 9; }
  @media (max-width: 800px) {
    .gallery {
      grid-template-rows: repeat(6, 20rem);
      grid-template-columns: repeat(4, 15rem); }
      .gallery__item--1 {
        grid-row: 1 / 4;
        grid-column: 1 / 3; }
      .gallery__item--2 {
        grid-row: 1 / 3;
        grid-column: 3 / 5; }
      .gallery__item--3 {
        grid-row: 3 / 4;
        grid-column: 3 / 5; }
      .gallery__item--4 {
        grid-row: 5 / 7;
        grid-column: 1 / 3; }
      .gallery__item--5 {
        grid-row: 4 / 5;
        grid-column: 1 / 3; }
      .gallery__item--6 {
        grid-row: 4 / 7;
        grid-column: 3 / 5; }
       }
    @media (max-width: 600px){
      .gallery {
        grid-template-rows: repeat(12, 20rem);
        grid-template-columns: repeat(2, 1fr);
      }
      .gallery__item--2 {
        grid-row: 7 / 10;
        grid-column: 1 / 3; }
        .gallery__item--3 {
          grid-row: 10 / 11;
          grid-column: 1 / 3;
        }
        .gallery__item--6 {
          grid-row: 11 / 13;
          grid-column: 1 / 3; }
         }
    }

#newsletter button {
  padding: .3rem .5rem .3rem .5rem;
  font-size: 1.4rem; }
#newsletter h1 {
  font-weight: 800; }

.btn-sign:hover {
  color: #70015e; }

.footer-text {
  font-size: 1.5rem; }

@media(max-width:600px){
  #newsletter h1 {
    font-size: 1.5rem; }
    .footer-text {
      font-size: 1.2rem; }
}

#page-header {
  height: 300px;
  background: url("../img/window_sign.jpg");
  background-attachment: fixed;
  background-position: 0 -70px;
  background-size: cover;
  width: 100%; }
  @media (max-width: 900px) {
    #page-header {
      background-position: -50px;
      background-attachment: scroll; } }

#testimonials h2 {
  font-weight: bold; }

.about-container{
  display: flex;
  margin : 2rem;
}
.about-text{
  flex : 1 1 100%;
  width : 50%;
  text-indent: 10%;
  font-size: 1.8rem;
  margin-left: 4rem;
}
.about-img-box{
  flex : 1 1 100%;
  width : 50%;
}
.about-img{
  width : 100%;
}
.about-test-awards{
  display: flex;
  margin: 2rem;
}

.about-testimonials{
  flex: 1 1 100%;
  width : 50%;
}
.awards-img{
  flex : 1 1 100%;
  width : 50%;
}
.awards-img img{
  width : 100%;
}
@media(max-width : 900px){
  .about-container{
    flex-direction: column;
  }
  .about-text{
    width : 100%;
    margin-left: 0;
    margin-top: 2rem;
  }
  .about-img-box{
    width : 100%;
  }
  .about-test-awards{
  flex-direction: column;
  }
  .about-testimonials{
    flex: 1 1 100%;
    width : 100%;
  }
  .awards-img{
    flex : 1 1 100%;
    width : 100%;
    padding : 3rem;
  }
}

#contact h2 {
  font-weight: 800; }
.contact-img{
  width : 50rem;
  display: block;
  margin: 0 auto;
  border : 2px solid #bd0083;
}
.form-container {
  border: 2px solid #c461ad;
  border-radius: 20px;
  width: 80%; }

.form-group select{
  font-size: 1.2rem;
  color: #c461ad;
}
/* .custom-select{
  font-size: 1.2rem;
}
.custom-select option{
  font-size: 1.2rem;
  color: #c461ad;
  background: #fff;
} */
.form-group input::placeholder,
.form-group textarea::placeholder,
.form-group select{
  color: #c461ad; }
.form-group input:focus,
.form-group textarea:focus {
  outline: none; }


#contact {
  background: url("../img/contact-head.png");
  background-repeat: no-repeat; }

.contact-details h1{
  font-weight: bold;
}

#services h1 {
  font-weight: 800; }
#services h5 {
  font-style: italic; }
#services .service-img {
  width: 95%;
  border-radius: 30px; }

/*# sourceMappingURL=style.css.map */

 /* --------- SHOPPING ----------- */

 .shop-header{
   width: 100%;
   background-image: url('../img/shop_bg.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   background-position: bottom;
   height : 25rem;
   position : relative;
 }
 .cart-container{
   margin-top : 5rem;
   display: flex;
   justify-content: center;
 }
.cart-logo{
  width : 50rem;
}
@media(max-width:700px){
  .cart-logo{
    width : 30rem;
  }
}
@media(max-width:500px){
  .cart-logo{
    width : 25rem;
  }
}
.cart-nav{
  justify-content: flex-end;
}
.shop-nav{
   position : absolute;
   z-index : 2;
   top : 5%;
   right : 3%;
 }
.fa-home{
  font-size: 2.3rem;
}
 .fa-shopping-cart{
   margin-right: 5px;
 }

 .shop-nav li,
 .cart-nav li {
    font-size: 2rem;
    list-style: none;
    display: inline-block;
    padding-right: 1rem;
    padding-left: 1rem;
 }
 .shop-nav li a,
 .cart-nav li a  {
   text-decoration: none;
   color : #70015e;
 }

.shopping-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin :0 5rem;
}

.thumbnail-container{
  margin : 5rem auto;
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-column-gap: 5rem;
}

.thumbnail{
  overflow: hidden;
  cursor : pointer;
  border:1px solid #bd0083;
  position: relative;
}
.thumbnail img{
  width : 100%;
  transition: all .5s;
}
.thumbnail-overlay{
  position : absolute;
  bottom:0;
  right : 0;
  left : 0;
  margin : 0;
  padding : 0;
  width : 100%;
  height : 10rem;
  background-color: rgba(255,255,255,0.7);
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all .5s;
}
.thumbnail-text{
  color : #bd0083;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
}

.thumbnail:hover > .thumbnail-image{
  transform: scale(1.2);
  transition: all .5s;
}
.thumbnail:hover > .thumbnail-overlay{
  transition: all .5s;
  opacity: 1;
}
.thumbnail:hover > .thumbnail-text{
  transition: all .5s;
  opacity: 1;
}

.item-count{
  font-weight: 600;
  font-size: 3rem;
  color : #bd0083;
  display: flex;
  text-align: center;
  align-items: center;
  width : 100%;
}
.item-count:before,
.item-count:after{
  content : '';
  flex : 1 1;
  border-bottom : 3px dashed #70015e;
  margin : 5rem;
}
.item-count:before{ margin-right: 2rem;}
.item-count:after{ margin-left: 2rem;}

 .item-container{
   width : 100%;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-gap: 5rem;
   position: relative;
   margin : 5rem 0;
 }

 .prd_name{
   color : #70015e;
   font-size: 1.8rem;
   margin : 3px 0;
 }
 .prd_price{
   color : #bd0083;
   font-size: 2rem;
   font-weight: 600;
   margin : 3px 0;
 }

 .image{
   flex : 1 1 auto;
   position:relative;
   overflow : hidden;
 }
 .image img{
   width : 100%;
   margin-bottom: 1rem;
 }

 .add-cart{
   position: absolute;
   bottom : 6rem;
   width: 100%;
   background-color: #c461ad;
   padding : 1rem;
   cursor: pointer;
   text-align: center;
   font-size: 2rem;
   opacity: 0;
   transition: all 0.3s ease-in-out;
 }

 .image:hover .add-cart{
   color : #fff;
   text-decoration: none;
   opacity : 1;
 }

.showall-container{
  display: flex;
  justify-content: center;
  margin-bottom: 5rem;
}

@media(max-width:900px){
  .thumbnail-overlay{
    height : 7rem;
  }
  .thumbnail-text{
    font-size: 2rem;
  }
  .item-container{
    grid-template-columns: repeat(3,1fr);
  }
  .shop-header{
    height : 20rem;
  }
  .item-count{
    font-size: 2.5rem;
  }
  .item-count:before,
  .item-count:after{
    margin : 3rem;
  }
}
@media(max-width:600px){
  .thumbnail-container{
grid-template-columns: 100%;
grid-row-gap: 5rem;
}
.shop-header{
  height : 15rem;
}
.item-container{
  grid-template-columns: repeat(2,1fr);
  margin : 3rem 0;
}
.item-count:before,
.item-count:after{
  margin : 1rem;
}
}

 /* --------------- CART PAGE --------------- */

 .product-container{
   max-width: 80%;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin : 0 auto;
 }

 .product-header{
   width : 100%;
   display: flex;
text-align: center;
   border-bottom: 4px solid #eee;
   margin : 0 auto;
 }
 .product-header h4{
   font-size: 1.6rem;
   font-weight: 600;
 }

 .title{
   width : 30%;
 }
 .price{
   width : 23%;
 }
 .quantity{
   width : 24%;
 }
 .total{
   width : 23%;
 }

 .products{
   width:100%;

 }
 .item{
   display: flex;
   align-items: center;
   text-align: center;
   border-bottom: 1px solid #eee;
   padding : 1rem 0;
 }
 .item-name{
   width:30%;
   flex : 1 1 auto;
   display: flex;
   align-items: center;
 }
 .item-name h4{
   text-align: center;
font-weight: bold;
 }

 .item-image{
   margin : 0 1rem;
   height : 10rem;
 }
 .item-price{
   width:23%;
 }
 .item-quantity{
   width:24%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .item-total{
   width :23%;
   font-weight: bold;
 }

 .fas{
   cursor: pointer;
 }
 .fa-times-circle{
   color : #bd0083;
 }
 .fa-chevron-circle-left,
 .fa-chevron-circle-right{
   color : #c461ad;
 }
  .fa-chevron-circle-left{
    margin-right: 1rem;
  }
  .fa-chevron-circle-right{
    margin-left: 1rem;
  }
 .basketTotalDetails{
   display: flex;
   justify-content: flex-end;
   align-items: center;
   margin: 1rem;
 }
 .basketTotalDetails h4{
   font-size: 1.8rem;
   font-weight: 600;
   color : #70015e;
   margin : 2px;
 }
 .checkout-btn-container{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin : 5rem auto;
 }

 @media(max-width:800px){
   .item-name{
    flex-direction: column;
   }
   .item-name h4{
  margin-top: 1rem;
   }
 }
 @media(max-width:600px){
   .product-container{
     max-width: 90%;}
   .item-image{
     height : 8rem;
   }
   .fa-chevron-circle-left{
     margin-right: .5rem;
   }
   .fa-chevron-circle-right{
     margin-left: .5rem;
   }
   .proceed-checkout{
    margin-top: 1rem;
   }
    .checkout-btn-container{
      flex-direction: column;
    }
    .proceed-checkout{
      margin-top: 3rem;
    }
 }
/* --------- CHECKOUT PAGE --------- */
 .checkout-logo{
   width : 40%;
 }
 .checkout-container{
   margin : 5rem;
   display: flex;
 }
 .shipping-container{
   width : 100%;
   flex : 1 1 100%;
 }
 .shipping-text{
   color : #bd0083;
   font-size: 2rem;
   font-weight: 600;
 }
 .bread-crumbs a{
   text-decoration: none;
   color : #c461ad;
   font-size: 1.5rem;
   margin : 0 1rem;
 }
 .bread-crumbs span{
   color : grey;
   font-size: 1.5rem;
 }
 .checkout-header{
   display: flex;
   flex-direction: column;
   align-items: center;
 }

.custom-radio{
  margin-right: 1rem;
  display: inline-block;
  width : 1.5rem;
  height : 1.5rem;
  color : #bd0083;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.1rem;
}

#r1:active,
#r1:visited{
  width : 1rem;
  height : 1rem;
  border-radius: 50%;
  background-color: #bd0083;
}

.return-cart{
  color:#bd0083;
  font-weight: 600;
}
.return-cart:hover,
.return-cart:active,
.return-cart:visited{
  text-decoration: none;
  color:#bd0083;
}
.col-md-7{
  padding-top: 3rem;
}
.col-md-5{
  padding-top: 3rem;
  background: #f6f6f6;
  margin-bottom: 3rem;
}
.order-container{
  flex : 1 1 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width : 100%;
  height: 100%;
  padding : 3rem 0;
  background: #eee;
}
.payment-text{
  color : #bd0083;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 2rem;
}
.order-text{
  color : #bd0083;
  font-size: 2rem;
  font-weight: 600;
}
.checkout-item {
  margin : 2rem 0;
  display: flex;
}
.checkout-image{
  height : 7rem;
  margin-right: 2rem;
}
.checkout-total{
  border-top: 1px solid #bebebe;
  padding-top: 1rem;
}
.checkout-details h4{
  color : #70015e;
  font-size: 1.8rem;
}
.checkout-details span{
  color : #c461ad;
  font-size: 2rem;
  font-weight: 600;
}
.checkout-total h4{
  display: flex;
  justify-content: space-between;
}
.checkout-total-text{
  font-size: 1.6rem;
  color : #c461ad;
}
.order-total{
  font-weight: 600;
  font-size: 1.8rem;
  color : #70015e;
  padding: 1rem 0;
  margin-top: 1rem;
  border-bottom: 1px solid #bebebe;
  border-top: 1px solid #bebebe;
}
.modal-title{
  font-size: 2rem;
  color : #bd0083;
  font-weight: 600;
}
.modal-body span{
  color : #c461ad;
  font-weight: 600;
}
.btn-modal:hover,
.btn-modal:visited
{
  text-decoration: none;
  color : #fff;
}
.btn-modal{
  padding :.5rem 1rem;
  background: #70015e;
  color : #fff;
}
.close span{
  font-size: 2rem;
  color : #c461ad;
}
.radio-container{
  position : relative;
  cursor : pointer;
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom : 1rem;
  margin-left: 1rem;
}
input[type="radio"]{
  cursor : pointer;
  opacity: 0;
  margin-right: 1rem;
}

.checkmark{
  position : absolute;
  top :0;
  left : 0;
  width : 15px;
  height : 15px;
  border : 1px solid #bd0083;
  border-radius: 50%;
}
.radio-container input:checked ~ .checkmark {
  position : absolute;
  left : 0;
  top : 0;
  background: white;
  border : 5px solid #bd0083;
  position : absolute;
  border-radius: 50%;
}
.pay-icon{
  width : 20rem;
}
.pay-container{
  padding-bottom: 2rem;
}
.pay-label{
  color : #bd0083;
  position: relative;
}
.pay-label img{
  display: none;
}
.pay-label i:hover ~ img{
  display: inline-block;
  position: absolute;
  top : 0;
  left : 5rem;
  z-index : 200;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media(max-width:600px){
  .checkout-container{
    flex-direction: column-reverse;
  }
}

.treatment-container{
  display: grid;
  grid-template-columns: repeat(2,minmax(10rem, auto));
  grid-gap: 5rem;
  width : 70%;
  margin : 5rem auto;
}
@media(max-width : 500px){
  .treatment-container{
  grid-template-columns: 100%;
}
}

.treatment{
  width: 100%;
  overflow: hidden;
  cursor : pointer;
  border : 1px solid #bd0083;
  position: relative;
}

.treatment-image{
  width : 100%;
  transition: all .5s ease-out;
}

.treatment-overlay{
  position : absolute;
  bottom:0;
  right : 0;
  left : 0;
  margin : 0;
  padding : 0;
  width : 100%;
  height : 8rem;
  background-color: rgba(255,255,255,0.7);
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s ease-out;
}
 .treatment-text{
  color : #bd0083;
  font-size: 2.5rem;
  font-weight: 600;
  text-align: center;
  transition: all .5s ease-out;
}
@media(max-width:800px){
  .treatment-overlay{
    height : 6rem;
  }
  .treatment-text{
   font-size: 2rem;
 }
}
@media(max-width:450px){
  .treatment-overlay{
    height : 4rem;
  }
  .treatment-text{
   font-size: 1.5rem;
 }
}
.treatment:hover .treatment-image{
  transform: scale(1.2);
  transition: all .5s ease-out;
}
.treatment:hover .treatment-overlay{
  transition: all .5s;
  opacity: 1;
}
.treatment:hover .treatment-text{
  transition: all .5s;
  opacity: 1;
}
.service-container{
  max-width :80%;
  display: flex;
  margin : 10rem auto 5rem auto;
}
.service-img-box{
  flex : 1 1 100%;
  width : 50%;
}
.service-text-box{
  flex : 1 1 100%;
  width : 50%;
}
.service-img{
  width : 100%;
}
.service-text li{
  list-style: none;
  font-size: 3rem;
  margin-bottom: 2rem;
  color:#bd0083;
}
.service-text li i{
  margin-right: 2rem;
}
@media(max-width : 900px){
  .service-text li{
    font-size: 2.5rem;
  }
}
@media(max-width : 750px){
  .service-text li{
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }
}
.service-manicure{
  margin-right: 2rem;
}
.service-pedicure{
  margin-left: 2rem;
}
@media(max-width : 600px){
  .service-container{
  flex-direction: column;
  margin-bottom: 2rem;
  }
  .service-img-box{
    width : 100%;
  }
  .service-text-box{
    margin-top: 2rem;
    width : 100%;
  }
  .service-manicure{
    margin-right: 0;
  }
  .service-pedicure{
    margin-left: 0;
  }
}
.back-services{
 display: flex;
 justify-content: center;
 margin-bottom: 3rem;
}
.dropdown-toggle{
  text-decoration: none;
}
.dropdown-menu{
  padding : 2rem;
}
.dropdown-item{
  font-size: 1.6rem;
  padding-left : 0;
  padding-right : 0;
}
.dropdown-toggle::after{
  display: none;
}
.dropdown:hover .dropdown-menu{
  display : block;
  margin-top: 0;
}

.dropdown-item:not(:last-child){
  margin-bottom: 1rem;
}
.dropdown-item:hover{
  color : #bd0083;
  background: #fff;
  font-weight: bold;
  display: block;
  padding-bottom: 2px;
  padding-left : 0;
  padding-right : 0;
  width: fit-content;
}
.dropdown-item:after{
  content : "";
  border-bottom: 2px solid #bd0083;
  display: block;
  transform : scale(0);
  transform-origin: left;
  transition: all .3s;
}
.dropdown-item:hover:after{
  display: block;
  transform : scale(1);
}
.tooltip-inner{
  background : #bd0083;
}
.tooltip-bottom .tooltip-arrow{
  background : #bd0083;
}

/* --------- login page ---------- */
.login-logo{
  width : 50rem;
  margin-top: 5rem;
}
.login-page{
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  /* align-items: center; */
  justify-content: center;
}
.login-page .box{
  background-image: url('../img/login_bg.jpg');
  background-size: cover;
  background-position: -260px center;
  background-repeat: repeat-x;
  flex : 0 0 100%;
  max-width: 65%;
  min-height: 25rem;
  margin-bottom : 5rem;
  box-shadow: 0 0 10px #ddd;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
  transition: all 0.5s ease-in-out;
}
.login-page .box.slide-active{
  background-position: 160px center;
}
.login-page .box::before{
  content : '';
  position: absolute;
  left : 0;
  top : 0;
  width : 100%;
  height : 100%;
  z-index: -1;
  background-color: rgba(0,0,0,0.6);
}
.login-page .box .left,
.login-page .box .right {
  flex : 0 0 50%;
  max-width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding : 40px 0;
}
.login-page .box .left h3,
.login-page .box .right h3{
  font-size: 2.5rem;
  font-weight: bold;
  color : #fff;
  margin: 0 0 2rem;
}
.login-page .box .left .register-btn,
.login-page .box .right .login-btn{
  background-color: transparent;
  padding : 1rem 1rem;
  color : #fff;
  border : 1px solid #fff;
  font-size: 1.6rem;
  cursor: pointer;
  width: 20rem;
  font-weight: bold;
  border-radius: 3px;
  transition: all .3s ease;
}
.login-page .box .left .register-btn:hover,
.login-page .box .right .login-btn:hover{
  background: #fff;
  color : #bd0083;
}
.login-page .box .left .register-btn:focus,
.login-page .box .right .login-btn:focus{
outline : none;
}
.login-page .box .form {
  position : absolute;
  background: #fff;
  height : 100%;
  width : 50%;
  right : 0;
  top : 0;
  padding : 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}
.login-page .box.slide-active .form {
  right : 50%;
}
.login-page .box .form h3{
  font-size: 2rem;
  color : #bd0083;
  font-weight: bold;
  margin : 0 0 2rem;
}
.login-page .box .form .form-group{
  margin-bottom: 20px;
}
.login-page .box .form .form-group input::placeholder{
  color : #bbb;
  font-size: 1.5rem;
}
.login-page .box .form .form-control{
  width : 100%;
  height: 45px;
  font-size: 1.5rem;
  color : #bd0083;
  border:none;
  border-bottom: 1px solid #ccc;
  padding : 0;
}
.login-page .box .form .form-control:focus{
  outline : none;
}
.empty,.invalid{
  font-size: 1rem;
  color : #bd0083;
  font-weight: bold;
  display: none;
}
.login-user{
  font-size: 3rem;
  color : #bd0083;
  font-weight: bold;
}
.login-page .box .form label{
  font-size: 1.2rem;
  color : #555;
}
.login-page .box .form .submit-btn{
  width : 100%;
  height : 40px;
  background-color: #bd0083;
  color : #fff;
  border : none;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  border-radius: 3px;
  transition:all .3s ease;
}
.login-page .box .form .submit-btn:hover{
  background: #70015e;
  color : #ddd;
}
.login-page .box .form .submit-btn:focus{
  outline : none;
}
.login-page .box .form .form-hidden{
  max-height: 0;
  visibility: hidden;
  opacity: 0;
  overflow: hidden;
}

@media screen and (max-width:700px){
  .login-page .box{
    max-width: 100%;
  }
}

@media screen and (max-width:500px){
  .login-logo{
    width : 35rem;
  }
  .login-page .box .form{
    width : 100%;
    position: relative;
    height: auto;
  }
  .login-page .box,
  .login-page .box.slide-active{
    background-position: center;
  }
  .login-page .box.slide-active .form {
    right: 0;
}
  .login-page .box .left h3,
  .login-page .box .right h3{
    font-size: 1.5rem;
  }
  .login-page .box .left .register-btn,
  .login-page .box .right .login-btn{
    width : 12rem;
}
}

.modal-footer{
  display: flex;
  justify-content: space-between;
}
.empty-firstName,.empty-lastName,.empty-city,
.empty-address,.empty-state,.empty-zip{
  color : #bd0083;
  font-size: 1rem;
  display: none;
}
.booking-modal-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.booking-modal-footer button{
  margin-top: .5rem;
}
.booking-modal-footer p{
  font-size: 1.2rem;
  font-weight: bold;
  color : #bd0083;
}
.empty-booking{
  display: none;
}
.checkout-footer{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.empty-billing{
  font-size: 1.5rem;
  font-weight: bold;
  color : #bd0083;
  margin-bottom: 4rem;
  display: none;
}
.empty-payinfo{
  font-size: 1.5rem;
  font-weight: bold;
  color : #bd0083;
  margin-bottom: 4rem;
  display: none;
}
.empty-paycardinfo{
  font-size: 1.5rem;
  font-weight: bold;
  color : #bd0083;
  margin-bottom: 4rem;
  display: none;
}



/* --- */
